 body{
	color: grey;
	background-color: navy;
	text-align: center;
}
h5{
	color: white;
}
.text{
		width: 500px;
		height: 40px;
		margin: 50px;
}
.pasword{	width: 500px;
			height: 40px;
			margin: 20px;
	
}

}
#forgot pasword{ 
				background-color: navy;
				
	
}
.submit:hover{
	color: white;
	background-color: blue;
	width: 510px;
	height: 40px;
	border-radius:10px;
	margin:30px;
	padding: 2px 220px 30px 240px;
}
a{
	color: white;
}
.submitt{
	background-color: gray;
	width: 500px;
	height: 40px;
	border-radius: 10px;
	margin: 200px;
	
}
#pasword{
	color: white;
	border:100px;
}
.name{
	color: white;
}